body {
  padding: 24px 20%;
}

.tooltip {
  position: relative;
  cursor: pointer;
  color: darkgoldenrod;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: pre;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}

.tooltip:hover::after {
  opacity: 1;
}
